.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 100px;
}

.cart-message {
  font-size: 13px;
  margin: 0 0 0 auto;
  color: green;
  font-weight: bold;
}

.products-list-container {
  margin: 20px 0 0 0;
}

.products-list {
  margin: 20px 0 0 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  /* height: 250px; */
}

.product-price {
  margin: auto 0 10px 0;
  font-size: 18px;
}

.buy-button {
  background-color: #38af50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buy-button:hover {
  background-color: #27af43;
}
